<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=constant.REQUIRES_LINE_BREAK_AFTERWARD_IF_WRAPPING_ON_NEWLINES.html">
</head>
<body>
    <p>Redirecting to <a href="constant.REQUIRES_LINE_BREAK_AFTERWARD_IF_WRAPPING_ON_NEWLINES.html">constant.REQUIRES_LINE_BREAK_AFTERWARD_IF_WRAPPING_ON_NEWLINES.html</a>...</p>
    <script>location.replace("constant.REQUIRES_LINE_BREAK_AFTERWARD_IF_WRAPPING_ON_NEWLINES.html" + location.search + location.hash);</script>
</body>
</html>